* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: burlywood;
  color: beige;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  gap: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 90px;
}
.btns-container {
  display: flex;
  gap: 90px;
}
.increament {
  width: 90px;
  height: 30px;
  background-color: aqua;
  border-radius: 20px;
  border: 1px solid aqua;
}
